// 基础卡片
.list-card{
	@include flex();
	padding: 20rpx;
	margin: 10rpx 20rpx;
	border-radius: 10rpx;
	box-shadow: 0 0 10rpx 2rpx rgba(0, 0, 0, 0.1);
	.list-card-img{
		width: 120rpx;
		height: 120rpx;
		border-radius: 10rpx;
		overflow: hidden;
		flex-shrink: 0;
		box-shadow: 0 0 10rpx 2rpx rgba(0, 0, 0, 0.1);
		image{
			width: 100%;
			height: 100%;
		}
	}
	.list-card-content{
		@include flex(space-between,column);
		// background-color: lightblue;
		padding-left: 20rpx;
		width: 100%;
		.list-card-content-title{
			width: 100%;
			@include flex();
			align-items: flex-start;
			font-size: 20rpx;
			color: #333333;
			text{
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}
		.list-card-content-desc{
			@include flex();
			width: 100%;
			font-size: 24rpx;
			margin-top: 10rpx;
			box-sizing: border-box;
			.article-type{
				padding: 5rpx 10rpx;
				border: 2rpx solid $base-color;
				border-radius: 20rpx;
				color: red;
				box-sizing: border-box;
			}
			.browse-count{
				color: #999;
			}
		}
	}
}

// 多图模式的卡片
.list-card2{
	@include flex(space-between,column);
	padding: 20rpx;
	margin: 10rpx 20rpx;
	border-radius: 10rpx;
	box-shadow: 0 0 10rpx 2rpx rgba(0, 0, 0, 0.1);
	.list-card2-top{
		@include flex();
		align-items: flex-start;
		width: 100%;
		box-sizing: border-box;
		font-size: 25rpx;
		// background-color: orange;
	}
	.list-card2-imgs{
		@include flex(space-between);
		width: 100%;
		// background-color: cadetblue;
		margin-top: 10rpx;
		.img{
			width: 180rpx;
			height: 120rpx;
		box-shadow: 0 0 10rpx 2rpx rgba(0, 0, 0, 0.1);
			image{
				width: 100%;
				height: 100%;
			border-radius: 10rpx;
			}
		}
	}
	.list-card2-desc{
		@include flex();
		width: 100%;
		font-size: 24rpx;
		margin-top: 10rpx;
		box-sizing: border-box;
		.article-type{
			padding: 5rpx 10rpx;
			border: 2rpx solid $base-color;
			border-radius: 20rpx;
			color: red;
			box-sizing: border-box;
		}
		.browse-count{
			color: #999;
		}
	}
}

// 大图模式的卡片
.list-card3{
	@include flex(space-between,column);
	padding: 20rpx;
	margin: 10rpx 20rpx;
	border-radius: 10rpx;
	box-shadow: 0 0 10rpx 2rpx rgba(0, 0, 0, 0.1);
	.list-card3-bigImg{
		width: 100%;
		height: 230rpx;
		box-shadow: 0 0 10rpx 2rpx rgba(0, 0, 0, 0.1);
		image{
			width: 100%;
			height: 100%;
		border-radius: 10rpx;
		}
	}
	.list-card3-middle{
		@include flex();
		align-items: flex-start;
		margin-top: 10rpx;
		font-size: 20rpx;
		width: 100%;
	}
	.list-card3-desc{
		@include flex();
		width: 100%;
		font-size: 24rpx;
		margin-top: 10rpx;
		box-sizing: border-box;
		.article-type{
			padding: 5rpx 10rpx;
			border: 2rpx solid $base-color;
			border-radius: 20rpx;
			color: red;
			box-sizing: border-box;
		}
		.browse-count{
			color: #999;
		}
	}
}